:host {
  padding: 1rem;
  border: maroon 1px solid;
  border-radius: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
img:is(:hover, :focus) {
  cursor: pointer;
}
